<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="X-Language" content="{{ language }}" />
        <title>Bin</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="static/css/main.css" />
    </head>

    <body>
        <div class="container">
            <div id="main"></div>
            <div class="footer">
                <div class="left">
                    <div class="flex">
                        <div class="line" onclick="fork()">Ctrl-F Fork</div>
                        <div class="line" onclick="save()">Ctrl-S Save</div>
                        <div class="line" onclick="setLang()">
                            Ctrl-L Language
                        </div>
                    </div>
                    <div class="errors">
                        <span class="line eicon"
                            ><img
                                width="13px"
                                src="static/img/x-circle.svg"
                                alt=""
                            />
                            <span class="error-counter">0</span></span
                        >
                        <span class="line eicon"
                            ><img
                                width="13px"
                                src="static/img/alert-triangle.svg"
                                alt=""
                            />
                            <span class="warn-counter">0</span></span
                        >
                    </div>
                </div>
                <div class="right">
                    <div id="lines" class="line" onclick="goto()">
                        Ln 0, Col 0
                    </div>
                    <div class="line" id="lineno">
                        Spaces: 4
                    </div>
                    <div class="line">
                        UTF-8
                    </div>
                    <div
                        class="line"
                        onclick="alert('Why do you want CRLF eww!')"
                    >
                        LF
                    </div>
                    <div class="line" id="setlang" onclick="setLang()">
                        Plain Text
                    </div>
                    <div class="line">
                        <a
                            target="_blank"
                            style="padding-top: 4px"
                            href="https://github.com/Sparkenstein/bin"
                            ><img src="static/img/github.svg"
                        /></a>
                    </div>
                    <div class="line">
                        <a
                            target="_blank"
                            style="padding-top: 4px"
                            href="https://twitter.com/intent/tweet?text=Checkout%20this%20awesome%20pastebin%20written%20in%20Rust%20by%20%40zetabites%0Ahttps%3A%2F%2Fgithub.com%2FSparkenstein%2Fbin"
                            ><img src="static/img/twitter.svg"
                        /></a>
                    </div>
                </div>
            </div>
        </div>
        <script src="static/js/loader.min.js"></script>
        <script>
            require.config({
                paths: {
                    vs:
                        "https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.22.3/min/vs",
                },
            });

            window.MonacoEnvironment = {
                getWorkerUrl: function (workerId, label) {
                    return `data:text/javascript;charset=utf-8,${encodeURIComponent(`
        self.MonacoEnvironment = {
          baseUrl: 'https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.22.3/min/'
        };
        importScripts('https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.22.3/min/vs/base/worker/workerMain.min.js');`)}`;
                },
            };
        </script>
        <script src="static/js/main.js"></script>
    </body>
</html>
